
* {
  box-sizing: border-box;
}

body {
	background-color: #1A1A1D;
	font-family: Proxima Nova,BioRhyme;
}

header {
  padding: 20px;
  font-size: 50px;
  color: white;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
}

a:link, a:visited {
  color: #C3073F;
  padding: 14px 25px;
  text-align: center;
  font-family: Courier New;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: gray;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 80px;
  margin-left: 120px;
  background-color: #1A1A1D;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#hello{
	font-family: BioRhyme;
	text-align: center;
	color: white;
	font-size: 60px;
}

.open-button {
  background-color: #1A1A1D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 100px;
  right: 28px;
  width: 150px;
  border: 3px solid #C3073F;
  border-radius: 8px;
}


.form-popup {
  display: none;
  position: absolute;
  bottom: 100;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #C3073F;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border: 3px solid #1A1A1D;
  border-radius: 8px;
}


.form-container .cancel {
  background-color: #4E4E50;
  border: 3px solid #1A1A1D;
  border-radius: 8px;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
}
}
